@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&family=Roboto:wght@100;400;700&family=Space+Mono&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "nunito";
}

p {
  font-size: 1.8rem;
}

h1 {
  font-size: 8rem;
}